a{
    text-decoration: none;
}
ul{
    list-style: none;
}
html,
body{
    height: 100%;
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin-bottom: 50px;
    margin-left: 250px;
    margin-top: 50px;
}
.heading{
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.form-container{
    display: flex;
    justify-content: center;
}
.form{
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 26px!important;
    width: 420px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}
.form label{
    display: block;
    font-weight: 700;
    padding-left: 2px;
    padding-bottom: 2px;
    font-family: Arial, sans-serif;
    font-size: 13px;
}
.form input[type="text"],.form input[type="number"], .form textarea, .form select{
    width: 290px;
    padding: 8px;
    height: 15px;
    margin-bottom: 15px;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
}
.form button{
    width: 310px;
    background-color: #ffd813;
    color: #000;
    border: 1px solid #FFFF00;
    border-radius: 7px;
    padding: 7px 20px;
}
.form select {
    height: 35px;
    width: 310px;
}
