<footer>
    <div class="footer">
        <div>
        <div class="footer-links">
            <a href="#">Help</a>
            <a href="#">Conditions of Use</a>
            <a href="#">Privacy Notice</a>
        </div>
        <div class="copyright">
            <p>&copy; 1996-2023, Amazon.com, Inc. or its affiliates</p>
        </div>
        </div>
    </div>
</footer>